{% extends 'base.html.twig' %}

{% block title %}
    Modifier l'article' : {{ post.title }} 
{% endblock %}

{% block body %}
	<h1 class="text-center mt-5">Modifier l'article :
		{{ post.title }}
	</h1>

	<div class="container d-flex justify-content-center mt-5">
		{{ form(editForm) }}
		</div>
    
{% endblock %}